.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: rgba(52, 113, 255, 0.5);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    max-width: 480px;
    width: 94%;
    max-height: 94vh;
    height: 600px;
    padding: 40px 20px;
    border-radius: 5px;
    background-color: var(--gray-light);
    outline: none;
    transform: translate(-50%, -50%) scale(1);
    overflow-y: scroll;

    @media screen and (min-width: 768px) {
        max-width: 704px;
        padding: 40px 36px;
    }

    @media screen and (min-width: 1280px) {
        max-width: 806px;
    }
}

.cancelBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: transparent;

    transition: background-color var(--time) var(--cubic);

    &:hover,
    &:focus {
        background-color: #fff;
    }
}

.title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
}

.favoritesList {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 1280px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1440px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.carItem {
    cursor: pointer;
    transition: transform var(--time) var(--cubic);

    &:hover .image,
    &:focus .image {
        transform: scale(1.05);
        transition: transform var(--time) var(--cubic);
    }
}

.imageWrapper {
    position: relative;
    display: inline-block;
}

.image {
    margin-bottom: 16px;
    border-radius: 14px;
    object-fit: cover;
    transition: transform var(--time) var(--cubic);
}

.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 13px;
    transition: opacity 0.3s ease;

    pointer-events: none;
}

.imageWrapper:hover .tooltip,
.imageWrapper:focus-within .tooltip {
    visibility: visible;
    opacity: 1;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 1px dotted var(--button);
}

.model {
    color: var(--button);
}

.brandTitle {
    font-size: 16px;
    line-height: 1.25;
}

.emptyMessage {
    font-size: 16px;
    text-align: center;
}

.deleteBtn {
    background: transparent;
    border: none;
    transition: color var(--time) var(--cubic);

    &:hover {
        color: #ff0000;
    }
}
